<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">    
  </head>
  <body>
    <div class="container">
      <!-- <table width="50%" class="table table-condensed">
          <tr>
            <td><img src="dist/img/logo624.jpg" alt="Smiley face" height="42" width="60"/></td>
            <td><h1>IET Bhaddal Ropar </h1></td>
          </tr>
        </table> -->
      <nav class="navbar">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">IET Bhaddal</a>
        </div>
        <ul class="nav nav-pills">
          <li role="presentation"><a href="index.html">Dashboard</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation" class="active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
              Student <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="addStudentForm1.html">Add Student</a></li>
                <li role="presentation" class="active"><a href="#">Edit Student</a></li>
                <li role="presentation"><a href="#">Search Student</a></li>
                <li role="presentation"><a href="#">Delete Student</a></li>
              </ul>
          </li>
          <li role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
              Faculty <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="#">Add Faculty</a></li>
                <li role="presentation"><a href="#">Edit Faculty</a></li>
                <li role="presentation"><a href="#">Search Faculty</a></li>
                <li role="presentation"><a href="#">Delete Faculty</a></li>
              </ul>
          </li>
          <li role="presentation" class="disabled"><a href="#">Messages</a></li>          
        </ul>
      </div>
      </nav>
      <table width="50%" class="table table-striped table-condensed">
        <thead>
          <tr><h2><i>STUDENT DETAILS</i></h2></tr>
          <tr>
            <th>Reg.No</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Current Address</th>
            <th>Permanent Address</th>
            <th>Branch</th>            
          </tr>            
        </thead>
        <tbody>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810701</td>
            <td>Gaurav</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>            
          </tr>
          <tr class="success">
            <td>6170810702</td>
            <td>Vishal</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr>
            <td>6170810703</td>
            <td>Rajesh</td>
            <td>R</td>
            <td>Saxena</td>
            <td>26</td>
            <td>Pune</td>
            <td>Ludhiana</td>
            <td>IT</td>
          </tr>
          <tr class="success">
            <td>6170810704</td>
            <td>Ary</td>
            <td>J</td>
            <td>Vashisht</td>
            <td>26</td>
            <td>Pune</td>
            <td>Chandigarh</td>
            <td>IT</td>
          </tr>
        </tbody>
      </table>
      <script src="../../dist/js/jquery.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
    </div>
  </body>
</hmtl>